<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
<comment/>
<entry key="org.netbeans.modules.profiler.v2.features.MethodsFeature_SelectedMethodsMode_SELECTION_FLAG">Bullet.Dynamics.ConstraintSolver.btSequentialImpulseConstraintSolver,convertContact,(LBullet/Collision/btPersistentManifold;LBullet/Dynamics/btContactSolverInfo;)V </entry>
<entry key="ACTIVATED_FEATURES">#org.netbeans.modules.profiler.v2.features.MonitorFeature@</entry>
<entry key="org.netbeans.modules.profiler.v2.features.MethodsFeature_SelectedClassesMode_SKIP_JAVA_FLAG">false</entry>
<entry key="org.netbeans.modules.profiler.v2.features.MethodsFeature_SETTINGS_FLAG">true</entry>
<entry key="org.netbeans.modules.profiler.v2.features.MethodsFeature_MODE_FLAG">AllClassesMode</entry>
<entry key="org.netbeans.modules.profiler.v2.features.MethodsFeature_SelectedClassesMode_SELECTION_FLAG">javax.vecmath.Tuple3f,*, </entry>
<entry key="org.netbeans.modules.profiler.v2.features.MethodsFeature_SelectedMethodsMode_SKIP_JAVA_FLAG">false</entry>
</properties>
